---
import TokenActions from '../components/TokenActions.jsx';
---

<html>
  <head>
    <title>JWT Example with React in Astro</title>
  </head>
  <body>
    <h1>JWT Token Actions</h1>
    <TokenActions client:load />
  </body>
</html>
